body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFAF7;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    text-decoration: none;

}

.header-h1 {
    font-size: 2.5rem;
    -webkit-text-stroke: 1px #FFFAF7;
    margin-top: 0;

}

.hero-img {
    width: 60%;
    height: 25%;
    border-radius: 50%;
    position: relative;
    margin-bottom: 0;
}
.hero {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.proj-img {
    width: 70%;
    height: 35%;
}

